

.carousel-control-prev,
.carousel-control-next {
  top: 35% !important;
  height: 3rem;
  width: 3rem !important;
  margin: 1rem !important;
  align-items: center !important;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(241, 241, 241, 0.63);
}
